{{!-- /************************************************************************************
* WEB322 – Project (Winter 2022)
* I declare that this assignment is my own work in accordance with Seneca Academic
* Policy. No part of this assignment has been copied manually or electronically from
* any other source (including web sites) or distributed to other students.
*
* Name: Yavuz Alper Yigitoglu
* Student ID: 127785186
* Course/Section: WEB322/NDD
*
************************************************************************************/ --}}

<div id="contentTable">
  <table border="0">
    <tr>
      <th><img src="/images/recipe.jpg" /></th>
      <th><img src="/images/computer_food.jpg" /></th>
      <th><img src="/images/delivery.png" /></th>
      <th><img src="/images/turkish_food.jpg" /></th>
    </tr>


    <tr>
      <th>
        <h3 class="tabledescription">We come up with unique recipes.</h3>
      </th>
      <th>
        <h3 class="tabledescription">
          You get to pick your preferences.
        </h3>
      </th>
      <th>
        <h3 class="tabledescription">We deliver once a week for free.</h3>
      </th>
      <th>
        <h3 class="tabledescription">
          Every day, you eat amazing meals.
        </h3>
      </th>
    </tr>
    <tr>
      <th colspan="4">
        <hr>
      </th>
    </tr>
    <tr>
      <td class="tabledescription">
        <p>
          Our in-house culinary staff creates innovative breakfast, lunch,
          and dinner meals and products using top ingredients.
        </p>
      </td>
      <td class="tabledescription">
        <p>
          Each week, choose from a range of healthy, delicious meals that
          meet your nutritional needs.
        </p>
      </td>
      <td class="tabledescription">
        <p>
          Your ingredients are packaged in our temperature-controlled
          boxes, ensuring that your cuisine stays fresh even when you are
          away from home.
        </p>
      </td>
      <td class="tabledescription">
        <p>
          Our recipes are designed to suit a wide range of cooking
          abilities and styles. from a quick weekday breakfast to a
          delectable two-course meal prepared entirely by you. Our recipes
          are suitable for all skills and styles of cooking.
        </p>
      </td>
    </tr>
  </table>
</div>
</div>