{{!-- /************************************************************************************
* WEB322 – Project (Winter 2022)
* I declare that this assignment is my own work in accordance with Seneca Academic
* Policy. No part of this assignment has been copied manually or electronically from
* any other source (including web sites) or distributed to other students.
*
* Name: Yavuz Alper Yigitoglu
* Student ID: 127785186
* Course/Section: WEB322/NDD
*
************************************************************************************/ --}}

<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/index.css" />
    <script src="/models/mealkit-db.js"></script>
    <!-- <script src="js/a4-main.js"></script> -->
    <meta name="viewport" content="width=device-width, initial-scale=0.6" />
</head>

<body>

    {{>header}}
    <br>
    {{{body}}}
    <br>
    {{>footer}}

</body>

</html>